
<footer>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
        <div class="container">
            <div class="row">
                <div class="col-10 col-md-5 col-lg-5 offset-1" style="color: white">
                    <h4> &copy; 2021 - Floricultura Flores</h4>
                    <p class="text-justify">
                        Encontre a coroa de flor ideal em nosso site e conte com o nosso envio rápido.
                        As coroas funerárias são elaboradas com flores naturais, e podem ter variados aromas,
                        Com combinações de tons de cor e tamanhos.
                    </p>
                </div>

                <div class="col-10 col-md-5 col-lg-5 offset-1" style="color: white">
                    <h4>Tem alguma dúvida ?</h4>
                    <ul class="list-unstyled">
                        <li class="py-1"> Av. shared footer muda </li>
                        <li class="py-1"> +55- Footer</li>
                        <li class="py-1"> <a href="floriculturaflores@outlook.com" style="color: yellow">floriculturaflores@outlook.com</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</footer>